* {
    padding: 0;
    margin: 0;

}





.header {
    font-family: monospace;
    background: #fa5252;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 48px;
    font-weight: 900;
    color: #82c91e;
    background: white;
    padding: 4px 32px;

}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    flex-wrap:wrap;


}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    margin: 30px;
    gap: 5px;
    text-decoration: none;
}